<div class="container">
  <h1> Your search returned <%= @grants.count%> results</h1>
  <ul>
  <% @grants.each do |grant| %>
    <li>
    <%= grant %>
    </li>
  <% end %>
  </ul>
  <%= link_to "Home", "/", class: 'btn btn-info' %>
</div>
