// Place all the styles related to the grants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline-input {
  width: auto!important;
  display: inline!important;
}

span {
  line-height: 4em;
}
