<div class='container' style="text-align:center;">
  <%= image_tag "/SPRING-logo-colour.jpg", style:'width:100%;'%>
  <br>
  <br>
  <%= link_to 'Start', search_path , class: 'btn btn-success'%>
</div>
