<div class="container">
  <% if flash[:error].present? %>
    <br>
    <div class="alert alert-danger">
      <%= flash[:error] %>
    </div>
  <% end %>
<h1>Search</h1>
<%= form_tag grants_path, method: :get, class: 'inline-form' %>
  <span>My company is </span>
  <%= select_tag "grant[reg_sg]", options_for_select(Grant.uniq_rows(:reg_sg)),prompt: '',class: 'form-control inline-input'  %>
  <span>. There are </span>
  <%= select_tag "grant[staff]", options_for_select(Grant.uniq_rows(:staff)),prompt: '',class: 'form-control inline-input'  %>
  <span> employees and we have been operating for </span>
  <%= select_tag "grant[age]", options_for_select(Grant.uniq_rows(:age)),prompt: '',class: 'form-control inline-input'  %>
  <span>. </span>
  <%= select_tag "grant[shareholding]", options_for_select(Grant.uniq_rows(:shareholding)),prompt: '',class: 'form-control inline-input'  %>
  <span> of my company's share is owned by Singapore Citizens or Permanent Residents. Our annual turnover is </span>
  <%= select_tag "grant[turnover]", options_for_select(Grant.uniq_rows(:turnover)),prompt: '',class: 'form-control inline-input'  %>
  <span>. We work in the </span>
  <%= select_tag "grant[industry]", options_for_select(Grant.uniq_rows(:industry)),prompt: '',class: 'form-control inline-input'  %>
  <span> industry and our greatest business challenge is in </span>
  <%= select_tag "grant[challenge]", options_for_select(Grant.uniq_rows(:challenge)),prompt: '',class: 'form-control inline-input'  %>
  <span>, specifically in the area of </span>
  <%= select_tag "grant[pain_point]", options_for_select(Grant.uniq_rows(:pain_point)),prompt: '',class: 'form-control inline-input'  %>
  <span>.</span>
  <br>
  <%= submit_tag "Submit", class:'btn btn-success'%>
</div>

